{% extends 'payapp/base.html' %}

{% block title %}
    Request Payments Between User Accounts
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <h4>Request Payment</h4>
    <p>Logged in as: {{ user.username }}</p>
    <p>Current balance: {{ accountDetails.balance }} {{ accountDetails.currency }}</p>
    <form method="post" class="form-group">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Request</button>
    </form>
{% endblock %}